:host {
  display: block;
  margin-bottom: 0.3rem;
}

.card {
  cursor: pointer;
  transition: 0.4s;

  &.-connected {
    background-color: indianred;
    color: white;

    .mat-card-subtitle {
      color: inherit;
    }
  }
}
